@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.body-width {
    max-width: 1120px;
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
}

/* shared style */
.display-flex {
    display: flex;


}

.sec-layout{
    margin-top: 72px;
    margin-bottom:72px;
}

.title {
    font-size: 2.3rem;
    font-weight: 900;
    margin-bottom: 12px;

}

.p-text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}

.btn-primary {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 2.5rem;
    background-color: #E6533C;
    color: white;
    border: none;
    margin-bottom: 32px;
    margin-top: 24px;
}

/* header related style start*/


.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.brand {
    font-weight: 900;
    font-size: 2rem;
    color: #E6533C;
}

.img-in-banner{
    position: relative;

}

.banner {
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 5.5rem;

}


.text-banner {
    font-size: 4rem;

}

/* 300 */
#video-badge {
    margin-left: 600px; 
    margin-top: 50px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.8rem;
    height: 5rem;
    position: absolute;

}

#video-badge2 {
    margin-left: 750px;
    margin-top: -320px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.8rem;
    height: 5rem;
    position: absolute;

}

#video-tutorial {
    font-size: 2rem;
    font-weight: 900;
}

.video-text {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

/* header related style end*/


/* habit section start */
.main {
    margin-top: 2rem;
}
.habit-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.habit-description {
    text-align: center;
    margin-bottom: 3rem;
}

.card{
    text-align: center;
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title {
    margin-bottom: 5px;
}

.card-text {
    font-size: 12px;
}

.card-container-habit{
    display: flex;
    justify-content: space-around;
    
}
/* habit section end */


/* run section start */
.run-img{
    width: 100%;
    border-radius: 8px;
}

.run-container{
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color:rgba(34, 34, 34, 1);
    padding: 3rem;
}
/* run section end */

/* bmi start */

.bmi-des{
    text-align: center;
    
    
}


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #fcd5d5;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #000000;
    font-weight: bold;
  }
  td{

    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);

  }

/* for from */

 
  
  .grid-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    
  }
  
  input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.1);
    
  }
  
  .full-width {
    grid-column: span 2; 
  }
  
.bmi-cointainer{
    display: flex;
    gap: 120px;
    padding: 5rem;
    
}
.your-bmi{
    width: 50%;
}

/* team section start */
.t-img{
    border-radius: 8px;
    width:100%;
    position: relative;
    height: 350px;

}
.t-work{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.t-name{
    font-weight: 700;
    font-size: 20px;
    
}

.posi-abs{
    margin-left: 50px;
    margin-top: -100px;
    position: absolute;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: rgba(243, 237, 237, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.bmi-des{
    margin-top: 72px;
    margin-bottom: 72px;
}
/* team section end */


/* footer start */
.footer-container{
    display: flex;
    justify-content: space-between;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}
/* footer end*/

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ml-auto{
    margin-left: auto;
}

.col-lg-7 {
    flex: 0 0 58.33%; 
    max-width: 58.33%; 
    padding: 15px; 
   
}
Add section
 ---------------------*/

.add-section {
	padding: 110px 0 103px;
}

.add-text {
	padding-left: 77px;

}

.add-text h2 {
	font-size: 60px;
	margin-bottom: 42px;
	color: #fff;
	margin-right: 116px;
}

.add-text h2 span {
	color: #E6533C;
}

.add-text ul {
	list-style: none;
	margin-bottom: 40px;
}

.add-text ul li {
	margin-bottom: 19px;
	color: #fff;
}

.add-text ul li img {
	margin-right: 19px;
}



.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    background-image: url("/images/add-bg.jpg");
}




/* responsive */


@media screen and (max-width:576px) {

    /* responsive for header */
    .body-width {
        margin: 0 auto;
        padding: 10px;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .banner {
        flex-direction: column;
        text-align: center;

    }

    .text-banner {
        font-size: 2rem;

    }

    .p-text {
        font-size: 12px;
    }

    #video-badge {
        margin-left: -150px;
        margin-top: 680px;
        background-color: rgba(48, 48, 48, 0.54);
        border-radius: 0.8rem;


    }

    #video-badge2 {
        margin-left: 180px;
        margin-top: 480px;
        background-color: rgba(48, 48, 48, 0.54);
        border-radius: 0.8rem;


    }

    #video-tutorial {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .video-text {
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.5);
    }

    .card-container-habit{
        flex-direction: column;
        gap: 24px;
    }


    .run-container{
        flex-direction: column;
        gap: 3rem;
        background-color:rgba(34, 34, 34, 1);
        padding: 0.5rem;
    }
    .btn-run{
        width: 100%;
    }

    .bmi-cointainer{
        flex-direction: column;
        gap: 20px;
        padding: 2px;
        
    }
    .your-bmi{
        width:auto;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .footer-container{
      flex-direction: column;
    }

    .col-lg-7{
        flex: 0 0 100%; 
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    .add-text ul li  {
        text-align: center;
        
    }

    .add-text h2{
        font-size: 32px;
    }

}